/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Navbar */
.navbar {
    background-color: #8a0909;
    height: 100px;
    display: flex; 
    align-items: center;
    position: fixed;   /* fix navbar at top */
    width: 100%;
    z-index: 999; /*navigation bar always in front of the content*/
}

.navbar__container {
    display: flex;
    justify-content: flex-start; /* push content to the left */
    align-items: center;
    width: 100%;
    padding-left: 20px;
}

#navbar__logo {
    color: #e4d90c;
    display: flex;
    cursor: pointer; /*change pointer to clickable hand signal*/
}

#navbar__logo img {
    height: 80px;         /* logo height */
    width: auto;          /* keep aspect ratio */
    max-width: 100%;      /* prevent overflow */
    flex-shrink: 0;       /* don’t let flexbox squash it */
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;     /*remove bullet points*/
}

.navbar__item {
    height: 100px;        /* same as navbar height */
    display: flex;
    align-items: center;  /* center link vertically */
    margin: 0 5px;        /*gap between navbar items*/
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;   /*remove underline*/
    padding: 6px 20px;       /* bubble size */
    border-radius: 20px;     /* rounded bubble */
    background-color: transparent;
    transition: all 0.3s ease;
    font-size: 1.3rem;   
}

.navbar__links:hover {
    background-color: #e4d90c;
    color: #000;  /*colour of hovered text*/
}

/* Hero section */
main {
    padding-top: 100px; /* prevent overlap with fixed navbar */
}

.hero {
    background-color: #fdfdfdf0;   /* light background */
    width: 100%;
    min-height: calc(100vh - 100px); /* full viewport minus navbar */
    display: flex;
    flex-direction: column;       /* stack text + bubble vertically */
    align-items: center;          /* center horizontally */
    justify-content: center;      /* center vertically */
    padding: 20px;
    text-align: center;           /* center text inside */
}

h1{
    padding:30px;
}

.responsive-svg-container {
    margin: 0 auto; /* center */
    width: 100%; /* fill parent width */
    max-width: 1200px; /* cap max width */
}

/* Footer section */
.footer {
    background-color: #1A1A1A;
    color: #fff;
    padding: 5px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 100%;
    position:fixed;
    bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
